<meta charset="UTF-8" />
<title>Super Awesome</title>
<link rel="stylesheet" href="/assets/style.css" />
<link
  href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
  crossorigin="anonymous"
/>
<!-- CSS (load bootstrap from a CDN) -->
<link
  rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
/>
<!-- jQuery library -->

<style>
  body {
    padding-top: 10px;
  }
</style>
