main,
.font {
  font-family: Montserrat, sans-serif;
}
.text_green {
  color: green;
}

input {
  width: content-box;
  background: darkseagreen;
  border-color: transparent;
  height: 50px;
  border-radius: 10px;
}
.heigh {
  height: 20px;
  margin-bottom: 5px;
}

h4 {
  margin-left: 10px;
}
.position > a {
  color: darkslategray;
  font-size: 15px;
  padding-bottom: 10px;
}

.position > a:hover {
  text-decoration: none;
  color: lightyellow;
  cursor: pointer;
}
.color-list {
}
.color-note {
  background-color: darkseagreen;
}
form {
  display: flex;
  flex-direction: column;
  color: darkslategray;
  background-color: darkseagreen;
  width: 300px;
  border-radius: 10px;
  border-color: lightgray;
  height: content-box;
}
form > input {
  color: lightyellow;
  font-size: 15px;
  display: block;
  height: content-box;
  margin: 0px 10px 0px 10px;
}
.position {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#TestJava {
  margin-top: 20px;
  border-radius: 5px;
  width: 80px;
  height: 30px;
}

/* ------------styles---for myUl-------------------------------------*/
ul li {
  cursor: pointer;
  position: relative;
  transition: 0.2s;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul li:hover {
  background-color: #ddd;
}
ul li.checked {
  background-color: #888;
  color: #fff;
  text-decoration: line-through;
}
ul li.checked::before {
  /*галочка - выполнено*/
  content: "";
  position: absolute;
  border-color: black;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 0px;
  left: -16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
.close {
  /*создать класс в js*/
  position: absolute;
  top: 0;
  right: 0;
}
close:hover {
  /*не работает*/
  color: red;
}
.NoteStyle {
}
.ListStyle {
}
