<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="jumbotron">
        <h1>List of users</h1>
        <form action="/users" method="POST">
          <input
            type="text"
            placeholder="Enter first name"
            name="firstName"
            id="firstName"
          />
          <input
            type="text"
            placeholder="Enter last name"
            name="lastName"
            id="lastName"
          />
          <input type="submit" value="Add user" />
        </form>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
