<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron" id=myDiv>
        <p>Place for a new List</p>
            <form action="/list" method="POST">
                <h4>Enter To-do List</h4>
                <input id="InputId" class="heigh" rows="1" cols="25" name="firstNote" placeholder="Type..." required autofocus></input>
                <div class="position">
                    <a href="/list/edit" onclick="editList()"><i class="fas fa-share"></i>  Edit List</a>
                    <a href="/list/delete" onclick="deleteList()"><i class="fas fa-trash-alt"></i>  Delete</a>
                    <a type="submit"><i class="fas fa-check"></i>  Submit/Add</a>
                </div>
            </form>
    </div>
    <ul id="myUl" >
        <li class=" li checked">Task 1</li>
        <li class="li">Task 2</li>
        <li class="li">Task 3</li>
        <li class="li">Task 4</li>
    </ul>
</main>


<script>
let myNodeList = document.getElementsByClassName("li");
for (let i = 0; i < myNodeList.length; i++) {
  let span = document.createElement("span");
  let txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  myNodeList[i].appendChild(span);
}
let closeNodeList=document.getElementsByClassName("close");
for(let i=0;i<closeNodeList.length;i++){
    closeNodeList[i].onclick=function(){
    let div = this.parentElement;
    div.style.display = "none";
    }
}
let UlList=document.querySelector('ul');// не работает
UlList.addEventListener("click",function(ev){
    if(ev.target.tagName==="li"){
        ev.target.className.toggle("checked");
    }
},false);

function newElement(){
    let ListMake=document.createElement("div");
    ListMake.className=""
    
}

</script>  
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>