<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <p>Place for a new Note</p>
        <form class="color" action="/note" method="POST">
        <h4>Enter you text below</h4>
        <input id="exampleTextarea1" rows="6" cols="25" name="firstNote" placeholder="Type..." required></input>
        <div class="position"><a href="/note/edit"><i class="fas fa-share"></i>  Edit Note</a>
            <a href="/note/delete"><i class="fas fa-trash-alt"></i>  Delete</a>
            <a type="submit"><i class="fas fa-check"></i>  Submit</a>
        </div>
        </form>
    </div>

    <button id="TestJava">TestJava</button>
    <div class="">
        <h4 class="text_green"><%= Name %></h4>
    </div>


</main>
<script>
    document.addEventListener("click", function(event) {
        if(event.target.matches("button[id^='TestJava']")) {
            var id = event.target.id;
            id = id.replace("TestJava", "Nmbr");
            // код который может работать с конкретным id
            alert(id);
        }
    });
</script>


<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>